<br>
<br>

<div class="col-md-12 form-group visa-applications-form-2 center-text">


  <div class="container">
    <div class="row">
        <div class="per-office">
          <h2>
            <strong>Ожидают подтверждения</strong>

          </h2>
        </div>
      </div>
<br>

<div class="photo-container">
  <div class="picandtext-1">
        <div class="image-country-1">
            <%= image_tag("photo-1531219432768-9f540ce91ef3.jpeg", :alt => "rss feed") %>
        </div>

        <h4>
          <div class="name-1">
          <strong>Калифорния</strong>
          </div>
        </h4>
        <div class="text-container">
          <small class="text-muted">Ожидайте результат до 21.07.2019 <br> Все вопросы уточняйте в посольстве.
</small>
        </div>
  </div>

  <div class="picandtext-2">
      <div class="image-country-1">
          <%= image_tag("photo-1508672019048-805c876b67e2-2.jpeg", :alt => "rss feed") %>
      </div>
      <h4>
        <div class="name-1">
        <strong>Швейцария</strong>
        </div>
      </h4>
      <div class="text-container">
        <small class="text-muted">Ожидайте результат до 21.07.2019 <br> Все вопросы уточняйте в посольстве.
</small>
      </div>
        </div>

<div class="picandtext-3">
      <div class="image-country-1">
          <%= image_tag("photo-1517760444937-f6397edcbbcd-2.jpeg", :alt => "rss feed") %>
      </div>
      <h4>
        <div class="name-1">
        <strong>Мальта</strong>
        </div>
      </h4>
      <div class="text-container">
        <small class="text-muted">Ожидайте результат до 21.07.2019 <br> Все вопросы уточняйте в посольстве.
</small>
      </div>
      </div>
    </div>
    </div>
  </div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>


    <div class="container-2">
      <div class="row-2">
          <div class="per-office">
            <h2>
              <strong>Активные визы</strong>
              <div class="✈️">✈️</div>

            </h2>

                </div>
        </div>
<br>



    <div class="photo-container-2">
      <div class="picandtext-1">
        <div class="image-country-check">
            <%= image_tag("photo-1476673160081-cf065607f449.jpeg", :alt => "rss feed") %>
        </div>
        <h4>
          <div class="name-1">
          <strong>Таиланд</strong>
          </div>
        </h4>
        <div class="text-container">
          <small class="text-muted">Срок вашей визы до 24.07.2020. По истечении вы можете снова оформить её через личный кабинет</small>
        </div>

          </div>

        <div class="picandtext-1">
        <div class="image-country-1">
            <%= image_tag("photo-1498855926480-d98e83099315.jpeg", :alt => "rss feed") %>
        </div>
        <h4>
          <div class="name-1">
          <strong>Япония</strong>
          </div>
        </h4>
        <div class="text-container">
          <small class="text-muted">Срок вашей визы до 24.07.2020. По истечении вы можете снова оформить её через личный кабинет</small>
        </div>

          </div>


        <div class="picandtext-1">
        <div class="image-country-1">
            <%= image_tag("photo-1511497584788-876760111969.jpeg", :alt => "rss feed") %>
        </div>
        <h4>
          <div class="name-1">
          <strong>Америка</strong>
          </div>
        </h4>
        <div class="text-container">
          <small class="text-muted">Срок вашей визы до 24.07.2020. По истечении вы можете снова оформить её через личный кабинет</small>
        </div>

          </div>
      </div>
      </div>

  <br>
  <br>
  <br>
  <br>

      <br>
      <div class="col-md-12 form-group visa-applications-form center-text">
       <h2>
         <strong>Выбери страну для путешествия</strong>
       </h2>
       <h4>
         <br>
       <div class="small-text test-text">
         <small class="text-muted-3">Давайте начнём с выбора страны для путешествия <br> Если вы не можете найти нужную страну, напишите нам, мы будем рады вам помочь</small>
       </div>
       </h4>

       <div class="visa-applications-button-flow center-button">
         <%= link_to 'Полетели', (:choose_country), class: "btn btn-primary greatbtn" %>
       </div>
       <div class="cust">
           <%= image_tag("cust.png", :alt => "rss feed") %>
       </div>
         <div class="✈️-2">✈️</div>
      </div>
