<br>
<br>

  <div class="text-choose-country"><p>Европа</p></div>



  <div class="visa-applications-form_choose">
    <div class="card-small">
      <div class="card-body-small"></div>
      <div class="country-small-text-small_card">
      <h2>
        <strong>Австрия</strong>
      </h2>
      </div>
      <div class="choose_country_small_first">
          <%= image_tag("r.png", :alt => "rss feed") %>
      </div>

    </div>



    <div class="card-small-2">
      <div class="card-body"></div>
      <div class="country-small-text-small_card-2">
      <h2>
        <strong>Словакия</strong>
      </h2>
      </div>
      <div class="choose_country_small_first-2">
          <%= image_tag("k.png", :alt => "rss feed") %>
      </div>
    </div>

    <div class="card-small-3">
      <div class="card-body"></div>
      <div class="country-small-text-small_card-3">
      <h2>
        <strong>Болгария</strong>
      </h2>
      </div>
      <div class="choose_country_small_first-3">
          <%= image_tag("l.png", :alt => "rss feed") %>
      </div>
    </div>

          <div class="card-deck">
         <div class="card">
           <div class="image-country-4">
               <%= image_tag("choose_country_italy.jpeg", :alt => "rss feed") %>
           </div>
           <div class="card-body">
             <div class="image-selected_choose_country_3">
                 <%= image_tag("Group_2.png", :alt => "rss feed") %>
             </div>

             <div class="country-small-text-1">
             <h2>
               <strong>Италия</strong>
             </h2>
             </div>

             <div class="card-text-parts">
               <div class="card-texts-1_italy">
               <strong>Туристическая виза обычно выдается <br>на конкретные даты запланированной поездки, наш сервис подготовит... </strong>
               </div>
               <div class="button_choose_country">
                 <%= link_to 'Выбрать', (:country_page), class: "btn button_choose_country_yo" %>
               </div>

         </div>
       </div>
       </div>

						<div class="card-deck">
                  <div class="card">
                    <div class="image-country-4">
                        <%= image_tag("choose_country_france.jpeg", :alt => "rss feed") %>
                    </div>
                    <div class="card-body">
                      <div class="image-selected_choose_country_3">
                          <%= image_tag("Group_2_2.png", :alt => "rss feed") %>
                      </div>


                      <div class="country-small-text-1">
                      <h2>
                        <strong>Франция</strong>
                      </h2>
                      </div>


                      <div class="card-text-parts">
                        <div class="card-texts-1">
                        <strong>Мы сделаем визу за вас или поможем подготовить документы для подачи в посольство Франции быстро</strong>
                        </div>
                        <div class="button_choose_country">
                          <%= link_to 'Выбрать', (:country_page), class: "btn button_choose_country_yo" %>
                        </div>
                  </div>

       </div>
       </div>
         </div>

       <div class="card-deck">
      <div class="card">
        <div class="image-country-4">
            <%= image_tag("choose_country_belgium.jpeg", :alt => "rss feed") %>
        </div>
        <div class="card-body">
          <div class="image-selected_choose_country_3">
              <%= image_tag("Group_2_2_2.png", :alt => "rss feed") %>
          </div>
          <div class="country-small-text-1">
          <h2>
            <strong>Бельгия</strong>
          </h2>
          </div>
          <div class="card-text-parts">
            <div class="card-texts-1">
            <strong>Для визы в Бельгию Вам понадобиться паспорт, билеты и бронь гостиницы, остальное мы сделаем за Вас</strong>
            </div>
            <div class="button_choose_country">
              <%= link_to 'Выбрать', (:country_page), class: "btn button_choose_country_yo" %>
            </div>
  </div>
  </div>
  </div>
    </div>
    </div>
      </div>




			<div class="card-small-col">
         <div class="card-small">
          <div class="card-body-small"></div>
          <div class="country-small-text-small_card">
          <h2>
          <strong>Венгрия</strong>
        </h2>
        </div>
        <div class="choose_country_small_first">
            <%= image_tag("s.png", :alt => "rss feed") %>
        </div>

      </div>



      <div class="card-small-2">
        <div class="card-body"></div>
        <div class="country-small-text-small_card-2">
        <h2>
          <strong>Греция</strong>
        </h2>
        </div>
        <div class="choose_country_small_first-2">
            <%= image_tag("o.png", :alt => "rss feed") %>
        </div>
      </div>

      <div class="card-small-3">
        <div class="card-body"></div>
        <div class="country-small-text-small_card-3">
        <h2>
          <strong>Дания</strong>
        </h2>
        </div>
        <div class="choose_country_small_first-3">
            <%= image_tag("q.png", :alt => "rss feed") %>
        </div>
      </div>

    </div>


    <div class="netherlands_image">
        <%= image_tag("gashik.png", :alt => "rss feed") %>
    </div>
    <div class="gash">
        <%= image_tag("gash.png", :alt => "rss feed") %>
    </div>

    <div class="neth_text">
    <h2>
      <strong>Нидерланды</strong>
    </h2>
    </div>
    <div class="neth_text_small">
    <strong>Наш сервис поможет получить визу <br>в Голландию за 5 дней. В 90% случаев <br>наши клиенты получают визу на год</strong>
    </div>
    <div class="lon_button_2">
      <%= link_to 'Выбрать', (:country_page), class: "btn button_lon_2" %>
    </div>



    <div class="card-deck_02">
   <div class="card">
     <div class="image-country-4">
         <%= image_tag("choose_country_norway.jpeg", :alt => "rss feed") %>
     </div>
     <div class="card-body">
       <div class="image-selected_choose_country_3">
           <%= image_tag("so.png", :alt => "rss feed") %>
       </div>

       <div class="country-small-text-1">
       <h2>
         <strong>Норвегия</strong>
       </h2>
       </div>

       <div class="card-text-parts">
         <div class="card-texts-1">
         <strong>Россиянам для посещения Норвегии нужна шенгенская виза. Существует несколько типов норвежской визы...</strong>
         </div>
         <div class="button_choose_country">
           <%= link_to 'Выбрать', (:country_page), class: "btn button_choose_country_yo" %>
         </div>
              </div>
            </div>
            </div>
  		 <div class="card-small-col">
      		<div class="card-small">
         	 <div class="card-body-small"></div>
         			<div class="country-small-text-small_card">
                <h2>
                 <strong>Ирландия</strong>
               	</h2>
                </div>
                <div class="choose_country_small_first">
                 <%= image_tag("p.png", :alt => "rss feed") %>
                   </div>

                  </div>


                       <div class="card-small-2">
                         <div class="card-body"></div>
                         <div class="country-small-text-small_card-2">
                         <h2>
                           <strong>Испания</strong>
                         </h2>
                         </div>
                         <div class="choose_country_small_first-2">
                             <%= image_tag("f.png", :alt => "rss feed") %>
                         </div>
                       </div>

                       <div class="card-small-3">
                         <div class="card-body"></div>
                         <div class="country-small-text-small_card-3">
                         <h2>
                           <strong>Кипр</strong>
                         </h2>
                         </div>
                         <div class="choose_country_small_first-3">
                             <%= image_tag("j.png", :alt => "rss feed") %>
                         </div>
                       </div>

                     </div>
                     <div class="card-small-col">
                           <div class="card-small">
                             <div class="card-body-small"></div>
                             <div class="country-small-text-small_card">
                             <h2>
                               <strong>Латвия</strong>
                             </h2>
                             </div>
                             <div class="choose_country_small_first">
                                 <%= image_tag("i.png", :alt => "rss feed") %>
                             </div>

                           </div>



                           <div class="card-small-2">
                             <div class="card-body"></div>
                             <div class="country-small-text-small_card-2">
                             <h2>
                               <strong>Литва</strong>
                             </h2>
                             </div>
                             <div class="choose_country_small_first-2">
                                 <%= image_tag("x.png", :alt => "rss feed") %>
                             </div>
                           </div>

                           <div class="card-small-3">
                             <div class="card-body"></div>
                             <div class="country-small-text-small_card-3">
                             <h2>
                               <strong>Мальта</strong>
                             </h2>
                             </div>
                             <div class="choose_country_small_first-3">
                                 <%= image_tag("d.png", :alt => "rss feed") %>
                             </div>
                              </div>
                              </div>
                                    </div>
                                    </div>



          <div class="desk">
                <div class="card_sec">
                  <div class="image-country-4">
                   		<%= image_tag("choose_country_germany.jpeg", :alt => "rss feed") %>
               </div>
                 <div class="card-body">
                        <div class="image-selected_choose_country_3">
                           <%= image_tag("ld.png", :alt => "rss feed") %>
                     </div>

                        <div class="country-small-text-1">
                                 <h2>
                                   <strong>Германия</strong>
                                 </h2>
                                 </div>

                                 <div class="card-text-parts">
                                   <div class="card-texts-1">
                                   <strong>Требования к пакету документов «усреднённые» шенгенские, включая <br>3-месячный «запас» паспорта...</strong>
                                   </div>
                                   <div class="button_choose_country">
                                     <%= link_to 'Выбрать', (:country_page), class: "btn button_choose_country_yo" %>
                                   </div>

                             </div>
                            </div>
                            </div>


                                       <div class="desk-2">
                                      <div class="card">
                                        <div class="image-country-4">
                                            <%= image_tag("choose_country_poland.jpeg", :alt => "rss feed") %>
                                        </div>
                                        <div class="card-body">
                                          <div class="image-selected_choose_country_3">
                                              <%= image_tag("mrl.png", :alt => "rss feed") %>
                                          </div>


                                          <div class="country-small-text-1">
                                          <h2>
                                            <strong>Польша</strong>
                                          </h2>
                                          </div>


                                          <div class="card-text-parts">
                                            <div class="card-texts-1">
                                            <strong>Виза в Польшу для россиян в 2019 году выдается после подачи регламенти-рованного списка обязательных...</strong>
                                            </div>
                                            <div class="button_choose_country">
                                              <%= link_to 'Выбрать', (:country_page), class: "btn button_choose_country_yo" %>
                                            </div>
                                      </div>

                            </div>
                            </div>
                             </div>

                            <div class="desk-3">
                            <div class="card">
                            <div class="image-country-4">
                                <%= image_tag("choose_country_switzerland.jpeg", :alt => "rss feed") %>
                            </div>
                            <div class="card-body">
                              <div class="image-selected_choose_country_3">
                                  <%= image_tag("ls.png", :alt => "rss feed") %>
                              </div>
                              <div class="country-small-text-1">
                              <h2>
                                <strong>Швейцария</strong>
                              </h2>
                              </div>
                              <div class="card-text-parts">
                                <div class="card-texts-1">
                                <strong>Загранпаспорт туриста должен оста-ваться действительным еще минимум <br>3 месяца с момента окончания поездки</strong>
                                </div>
                                <div class="button_choose_country">
                                  <%= link_to 'Выбрать', (:country_page), class: "btn button_choose_country_yo" %>
                                </div>
                            </div>
                            </div>
                            </div>
                            </div>


                            <div class="choose_country_lon">
                                <%= image_tag("lon.png", :alt => "rss feed") %>
                            </div>
                            <div class="lon_patch">
                                <%= image_tag("kl.png", :alt => "rss feed") %>
                            </div>

                            <div class="lon_text">
                            <h2>
                              <strong>Великобритания</strong>
                            </h2>
                            </div>
                            <div class="lon_text_small">
                            <strong>Посольству важны подтверждение прочной <br>финансовой состоятельности и наличие виз <br>«серьезных» стран в загранпаспорте.</strong>
                            </div>
                            <div class="lon_button">
                              <%= link_to 'Выбрать', (:country_page), class: "btn button_lon" %>
                            </div>

                            <div class="card-small-col-2">
                                  <div class="card-small_two">
                                    <div class="card-body-small"></div>
                                    <div class="country-small-text-small_card">
                                    <h2>
                                      <strong>Словения</strong>
                                    </h2>
                                    </div>
                                    <div class="two_image_choose">
                                        <%= image_tag("kk.png", :alt => "rss feed") %>
                                    </div>
                                    <div class="slov_text_small">
                                    <strong>Требования к пакету документов «усреднённые» <br>шенгенские, включая 3-месячный «запас» <br>паспорта,подтверждение перелёта...</strong>
                                    </div>
                                  </div>


                                  <div class="card-small-col-3">
                                        <div class="card-small_two_three">
                                          <div class="card-body-small"></div>
                                          <div class="country-small-text-small_card">
                                          <h2>
                                            <strong>Португалия</strong>
                                          </h2>
                                          </div>
                                          <div class="two_image_choose">
                                              <%= image_tag("fs.png", :alt => "rss feed") %>
                                          </div>
                                          <div class="slov_text_small">
                                          <strong>Для подачи документов через консульский отдел <br>надо заполнить онлайн-анкету на оф. сайте <br>выбрать дату визита в консульство.</strong>
                                          </div>
                                        </div>


  <br>
  <div class="desk-second_three">
 <div class="card_sec">
   <div class="image-country-4">
       <%= image_tag("choose_country_pomania.jpeg", :alt => "rss feed") %>
   </div>
   <div class="card-body">
     <div class="image-selected_choose_country_3">
         <%= image_tag("ld.png", :alt => "rss feed") %>
     </div>

     <div class="country-small-text-1">
     <h2>
       <strong>Румыния</strong>
     </h2>
     </div>

     <div class="card-text-parts">
       <div class="card-texts-1">
       <strong>Количество разрешенных въездов на <br>момент въезда в Румынию не должно <br>быть исчерпано, а сама виза должна...</strong>
       </div>
       <div class="button_choose_country">
         <%= link_to 'Выбрать', (:country_page), class: "btn button_choose_country_yo" %>
       </div>

 </div>
</div>
</div>


           <div class="desk-2">
          <div class="card">
            <div class="image-country-4">
                <%= image_tag("choose-country-ks.jpg", :alt => "rss feed") %>
            </div>
            <div class="card-body">
              <div class="image-selected_choose_country_3">
                  <%= image_tag("mrl.png", :alt => "rss feed") %>
              </div>


              <div class="country-small-text-1">
              <h2>
                <strong>Финляндия</strong>
              </h2>
              </div>


              <div class="card-text-parts">
                <div class="card-texts-1">
                <strong>Процедура подачи заявления в финские <br>визовые центры может показаться <br>поначалу достаточно запутанной...</strong>
                </div>
                <div class="button_choose_country">
                  <%= link_to 'Выбрать', (:country_page), class: "btn button_choose_country_yo" %>
                </div>
          </div>

</div>
</div>
 </div>

<div class="desk-3">
<div class="card">
<div class="image-country-4">
    <%= image_tag("choose_country_praha.jpeg", :alt => "rss feed") %>
</div>
<div class="card-body">
  <div class="image-selected_choose_country_3">
      <%= image_tag("ls.png", :alt => "rss feed") %>
  </div>
  <div class="country-small-text-1">
  <h2>
    <strong>Чехия</strong>
  </h2>
  </div>
  <div class="card-text-parts">
    <div class="card-texts-1">
    <strong>Документы на оформление визы <br>принимают как в Генеральном консуль-<br>стве Чехии, так и в аккредитованных...</strong>
    </div>
    <div class="button_choose_country">
      <%= link_to 'Выбрать', (:country_page), class: "btn button_choose_country_yo" %>
    </div>
</div>
</div>
</div>
</div>




  <br>
  <br>


  <div class="card-small-col_little">
        <div class="card-small">
          <div class="card-body-small"></div>
          <div class="country-small-text-small_card">
          <h2>
            <strong>Хорватия</strong>
          </h2>
          </div>
          <div class="choose_country_small_first">
              <%= image_tag("sf.png", :alt => "rss feed") %>
          </div>

        </div>



        <div class="card-small-2">
          <div class="card-body"></div>
          <div class="country-small-text-small_card-2">
          <h2>
            <strong>Швеция</strong>
          </h2>
          </div>
          <div class="choose_country_small_first-2">
              <%= image_tag("xa.png", :alt => "rss feed") %>
          </div>
        </div>

        <div class="card-small-3">
          <div class="card-body"></div>
          <div class="country-small-text-small_card-3">
          <h2>
            <strong>Эстония</strong>
          </h2>
          </div>
          <div class="choose_country_small_first-3">
              <%= image_tag("ed.png", :alt => "rss feed") %>
          </div>
           </div>
           </div>
                 </div>
                 </div>


                 <div class="text-choose-country_ashia"><p>Азия</p></div>

<div class="card-small-col_ashia">
                 <div class="netherlands_image">
                     <%= image_tag("singga.png", :alt => "rss feed") %>
                 </div>
                 <div class="gash">
                     <%= image_tag("singa.png", :alt => "rss feed") %>
                 </div>

                 <div class="neth_text">
                 <h2>
                   <strong>Сингапур</strong>
                 </h2>
                 </div>
                 <div class="neth_text_small">
                 <strong>Заявления на визу и все необходимые <br>документы принимаются только в электронном <br>виде в аккредитованных посольством Сингапура</strong>
                 </div>
                 <div class="lon_button_2">
                   <%= link_to 'Выбрать', (:country_page), class: "btn button_lon_2" %>
                 </div>



                 <div class="card-deck_02">
                <div class="card">
                  <div class="image-country-4">
                      <%= image_tag("choose_country_taiwan.jpeg", :alt => "rss feed") %>
                  </div>
                  <div class="card-body">
                    <div class="image-selected_choose_country_3">
                        <%= image_tag("tai.png", :alt => "rss feed") %>
                    </div>

                    <div class="country-small-text-1">
                    <h2>
                      <strong>Тайвань</strong>
                    </h2>
                    </div>

                    <div class="card-text-parts">
                      <div class="card-texts-1">
                      <strong>С 6 сентября 2018 года по 31 июля 2019 <br>года граждане РФ пользуются безвиз-<br>овым режимом на 14 дней для...</strong>
                      </div>
                      <div class="button_choose_country">
                        <%= link_to 'Выбрать', (:country_page), class: "btn button_choose_country_yo" %>
                      </div>
                           </div>
                         </div>
                              </div>
                                  </div>




                                  <div class="desk-second_three_asia">
                                 <div class="card_sec">
                                   <div class="image-country-4">
                                       <%= image_tag("choose_country_india.jpeg", :alt => "rss feed") %>
                                   </div>
                                   <div class="card-body">
                                     <div class="image-selected_choose_country_3">
                                         <%= image_tag("ind.png", :alt => "rss feed") %>
                                     </div>

                                     <div class="country-small-text-1">
                                     <h2>
                                       <strong>Индия</strong>
                                     </h2>
                                     </div>

                                     <div class="card-text-parts">
                                       <div class="card-texts-1">
                                       <strong>Срок действия визы будет тридцать <br>дней однократная и виза по прибытию <br>доступна только в международных...</strong>
                                       </div>
                                       <div class="button_choose_country">
                                         <%= link_to 'Выбрать', (:country_page), class: "btn button_choose_country_yo" %>
                                       </div>

                                 </div>
                                </div>
                                </div>


                                           <div class="desk-2">
                                          <div class="card">
                                            <div class="image-country-4">
                                                <%= image_tag("choose_country_viethnam.jpeg", :alt => "rss feed") %>
                                            </div>
                                            <div class="card-body">
                                              <div class="image-selected_choose_country_3">
                                                  <%= image_tag("viet.png", :alt => "rss feed") %>
                                              </div>


                                              <div class="country-small-text-1">
                                              <h2>
                                                <strong>Вьетнам</strong>
                                              </h2>
                                              </div>


                                              <div class="card-text-parts">
                                                <div class="card-texts-1">
                                                <strong>Въезд в страну упрощен почти до <br>максимума (виза на срок до 15 дней <br>с туристическими целями не нужна...</strong>
                                                </div>
                                                <div class="button_choose_country">
                                                  <%= link_to 'Выбрать', (:country_page), class: "btn button_choose_country_yo" %>
                                                </div>
                                          </div>

                                </div>
                                </div>
                                 </div>

                                <div class="desk-3">
                                <div class="card">
                                <div class="image-country-4">
                                    <%= image_tag("choose_country_china.jpeg", :alt => "rss feed") %>
                                </div>
                                <div class="card-body">
                                  <div class="image-selected_choose_country_3">
                                      <%= image_tag("chi.png", :alt => "rss feed") %>
                                  </div>
                                  <div class="country-small-text-1">
                                  <h2>
                                    <strong>Китай</strong>
                                  </h2>
                                  </div>
                                  <div class="card-text-parts">
                                    <div class="card-texts-1">
                                    <strong>Пакет документов изрядно обширен, <br>особое внимание нужно уделить тому, <br>чтобы бумаги были сложены в...</strong>
                                    </div>
                                    <div class="button_choose_country">
                                      <%= link_to 'Выбрать', (:country_page), class: "btn button_choose_country_yo" %>
                                    </div>
                                </div>
                                </div>
                                </div>
                                </div>



                                <div class="netherlands_image_asia">
                                    <%= image_tag("japp.png", :alt => "rss feed") %>
                                </div>
                                <div class="gash_asia">
                                    <%= image_tag("jap.png", :alt => "rss feed") %>
                                </div>

                                <div class="neth_text_asia">
                                <h2>
                                  <strong>Япония</strong>
                                </h2>
                                </div>
                                <div class="neth_text_small_asia">
                                <strong>Визовый сбор по-прежнему отсутствует. <br>В аэропорту по прилете придется пройти <br>сканирование ладони и фотосъемку лица</strong>
                                </div>
                                <div class="lon_button_2_asia">
                                  <%= link_to 'Выбрать', (:country_page), class: "btn button_lon_2" %>
                                </div>
                                  </div>
  </div>
  </div>
  </div>
  </div>


                                <div class="card-deck_02_asia">
                               <div class="card">
                                 <div class="image-country-4">
                                     <%= image_tag("choose_country_hongkong.jpeg", :alt => "rss feed") %>
                                 </div>
                                 <div class="card-body">
                                   <div class="image-selected_choose_country_3">
                                       <%= image_tag("hon.png", :alt => "rss feed") %>
                                   </div>

                                   <div class="country-small-text-1">
                                   <h2>
                                     <strong>Гонг Конг</strong>
                                   </h2>
                                   </div>

                                   <div class="card-text-parts">
                                     <div class="card-texts-1">
                                     <strong>Гражданам России для посещения <br>Гонконга на срок, не превышающий <br>14 дней, виза не требуется</strong>
                                     </div>
                                     <div class="button_choose_country">
                                       <%= link_to 'Выбрать', (:country_page), class: "btn button_choose_country_yo" %>
                                     </div>
                                          </div>
                                        </div>
                                             </div>


                                             <div class="netherlands_image_america">
                                                 <%= image_tag("shaa.png", :alt => "rss feed") %>
                                             </div>
                                             <div class="gash_america">
                                                 <%= image_tag("sha.png", :alt => "rss feed") %>
                                             </div>

                                             <div class="neth_text_america">
                                             <h2>
                                               <strong>США</strong>
                                             </h2>
                                             </div>
                                             <div class="neth_text_small_america">
                                             <strong>Особенность подачи заявления на американскую визу <br>— отсутствие единого списка документов, по принципу <br>«несите все, а там разберемся»</strong>
                                             </div>
                                             <div class="lon_button_2_america">
                                               <%= link_to 'Выбрать', (:country_page), class: "btn button_lon_2" %>
                                             </div>

                                             <div class="card-small-2_america">
                                               <div class="card-body"></div>
                                               <div class="country-small-text-small_card-2_america_can">
                                               <h2>
                                                 <strong>Канада</strong>
                                               </h2>
                                               </div>
                                               <div class="choose_country_small_first-2_america">
                                                   <%= image_tag("can.png", :alt => "rss feed") %>
                                               </div>

                                             </div>
                                             <div class="neth_text_small_america_can">
                                             <strong>Канада давно и небезосновательно <br>считается одной из самых нелояльных <br>к туристам стран — вероятность...</strong>
                                             </div>

                                             <div class="link_yo_choose_country_america">
                                               <a href="http://localhost:3000/visa_applications/1?step=1">Выбрать страну →</a>
                                             </div>

                                             <div class="card-small-2_america_2">
                                               <div class="card-body"></div>
                                               <div class="country-small-text-small_card-2_america_can">
                                               <h2>
                                                 <strong>Мексика</strong>
                                               </h2>
                                               </div>
                                               <div class="choose_country_small_first-2_america">
                                                   <%= image_tag("max.png", :alt => "rss feed") %>
                                               </div>

                                             </div>
                                             <div class="neth_text_small_america_can_2">
                                             <strong>Канада давно и небезосновательно <br>считается одной из самых нелояльных <br>к туристам стран — вероятность...</strong>
                                             </div>

                                             <div class="link_yo_choose_country_america_2">
                                               <a href="http://localhost:3000/visa_applications/1?step=1">Выбрать страну →</a>
                                             </div>


                                              <div class="text-choose-country_ashia_another"><p>Другие визы</p></div>

</div>

                                              <div class="desk-second_three_asia_another">
                                             <div class="card_sec">
                                               <div class="image-country-4">
                                                   <%= image_tag("choose_country_emirates.jpeg", :alt => "rss feed") %>
                                               </div>
                                               <div class="card-body">
                                                 <div class="image-selected_choose_country_3">
                                                     <%= image_tag("oa.png", :alt => "rss feed") %>
                                                 </div>

                                                 <div class="country-small-text-1">
                                                 <h2>
                                                   <strong>ОАЭ</strong>
                                                 </h2>
                                                 </div>

                                                 <div class="card-text-parts">
                                                   <div class="card-texts-1">
                                                   <strong>Не требуется оформление виз заранее. <br>По прибытии в любые аэропорты ОАЭ граждане Российской Федерации...</strong>
                                                   </div>
                                                   <div class="button_choose_country">
                                                     <%= link_to 'Выбрать', (:country_page), class: "btn button_choose_country_yo" %>
                                                   </div>

                                             </div>
                                            </div>
                                            </div>


                                                       <div class="desk-2">
                                                      <div class="card">
                                                        <div class="image-country-4">
                                                            <%= image_tag("choose_country_australia.jpeg", :alt => "rss feed") %>
                                                        </div>
                                                        <div class="card-body">
                                                          <div class="image-selected_choose_country_3">
                                                              <%= image_tag("av.png", :alt => "rss feed") %>
                                                          </div>


                                                          <div class="country-small-text-1">
                                                          <h2>
                                                            <strong>Австралия</strong>
                                                          </h2>
                                                          </div>


                                                          <div class="card-text-parts">
                                                            <div class="card-texts-1">
                                                            <strong>На первый взгляд, процесс подачи <br>документов действительно кажется <br>непростым, но если разобраться...</strong>
                                                            </div>
                                                            <div class="button_choose_country">
                                                              <%= link_to 'Выбрать', (:country_page), class: "btn button_choose_country_yo" %>
                                                            </div>
                                                      </div>

                                            </div>
                                            </div>
                                             </div>

                                            <div class="desk-3">
                                            <div class="card">
                                            <div class="image-country-4">
                                                <%= image_tag("choose-country-image-m.jpg", :alt => "rss feed") %>
                                            </div>
                                            <div class="card-body">
                                              <div class="image-selected_choose_country_3">
                                                  <%= image_tag("ir.png", :alt => "rss feed") %>
                                              </div>
                                              <div class="country-small-text-1">
                                              <h2>
                                                <strong>Иран</strong>
                                              </h2>
                                              </div>
                                              <div class="card-text-parts">
                                                <div class="card-texts-1">
                                                <strong>Для въезда в Иран гражданам России <br>необходима виза. Визу можно оформить <br>в консульском отделе посольства...</strong>
                                                </div>
                                                <div class="button_choose_country">
                                                  <%= link_to 'Выбрать', (:country_page), class: "btn button_choose_country_yo" %>
                                                </div>
                                            </div>
                                            </div>
	</div>
 </div>
