
<div class="col-md-12 form-group visa-applications-form_count center-text">



  <div class="image-selected_choose_country">
      <%= image_tag("Group_16.png", :alt => "rss feed") %>
  </div>
<br>
<br>
<br>
<br>
<div class="visa-applications-button-flow center-button">
  <%= link_to 'Получить визу', visa_application_path(Form.find(7), step: "1"), class: "btn btn-primary-yo greatbtn" %>
</div>


<br>
<br>

  <div class="link_yo_choose_country">
    <a href="http://localhost:3000/visa_applications/1?step=1">← Выбрать страну</a>
  </div>

<br>
<br>
<br>
<br>

<div class="image-selected_choose_country_2">
    <%= image_tag("Group_17.png", :alt => "rss feed") %>
</div>


  <div class="text_choose_country_select">
  <h5>Национальная виза</h5>
  </div>


  <div class="text_choose_country_select_2">
  <h2>
    <strong>Соединенные Штаты<br>Америки</strong>
  </h2>
  </div>

      <div class="text_choose_country_select_3">
        <small>Наш сервис поможет получить визу в США за 10 дней. <br>В 90% случаев наши клиенты получают визу на год</small>
      </div>
</div>




<br>
<br>
<br>
<br>
<br>
<br>






  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>


  <div class="container">
    <div class="row">
      <div class="col">
        <div class="text-choose_country_base">
            <strong>Правила подачи документов</strong>
        </div>
      </div>
      <div class="col">
        <div class="choose_country_text_base-2">

            <h5>Список необходимых документов</h5>

          <h5>
            <small class="text-muted">Паспорт, справка НДФЛ, билеты, подтверждение брони отеля, анкета, документ о личных доходах и справка с работы или места учёбы </small>
          </h5>

          <br>
          <br>

          <h5>Срок подачи документов</h5>
        <h5>
          <small class="text-muted">За две недели до выезда</small>
        </h5>
        <br>
        <br>


        <h5>Готовность визы</h5>

      <h5>
        <small class="text-muted">Три или четвыре недели с момента подачи документов</small>
      </h5>
      <br>
      <br>

        </div>
      </div>
    </div>
  </div>
<br>

    <hr align="right" width="100%" size="3" color="#E2E2E2" />


<br>
<br>
<br>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="text">
            <div class="text-choose_country_base">
                <strong>Другие места, которые мы любим</strong>
            </div>

          <br>

          </div>
        </div>

        <div class="visa-applications-form_countryyy">



          <div class="card-deck">
         <div class="card">
           <div class="image-country-4">
               <%= image_tag("choose_country_pomania.jpeg", :alt => "rss feed") %>
           </div>
           <div class="card-body">
             <div class="image-selected_choose_country_3">
                 <%= image_tag("Group_2.png", :alt => "rss feed") %>
             </div>
               <div class="country-small-text-1">
               <%= link_to 'Румыния', (:country_page), class: "link_text"%>
               </div>

             <div class="card-text-parts">
               <div class="card-texts-1">
               <strong>Количество разрешенных въездов на момент въезда в Румынию не должно быть исчерпано, а сама виза должна...</strong>
               </div>
               <div class="button_choose_country">
                 <%= link_to 'Выбрать', visa_application_path(Form.find(7), step: "1"), class: "btn button_choose_country_yo" %>
               </div>

         </div>
       </div>
       </div>


                   <div class="card-deck">
                  <div class="card">
                    <div class="image-country-4">
                        <%= image_tag("choose_country_poland.jpeg", :alt => "rss feed") %>
                    </div>
                    <div class="card-body">
                      <div class="image-selected_choose_country_3">
                          <%= image_tag("Group_2_2.png", :alt => "rss feed") %>
                      </div>
                        <div class="country-small-text-1">
                        <%= link_to 'Финляндия', (:country_page), class: "link_text"%>
                        </div>

                      <div class="card-text-parts">
                        <div class="card-texts-1">
                        <strong>Количество разрешенных въездов на момент въезда в Румынию не должно быть исчерпано, а сама виза должна...</strong>
                        </div>
                        <div class="button_choose_country">
                          <%= link_to 'Выбрать', visa_application_path(Form.find(7), step: "1"), class: "btn button_choose_country_yo" %>
                        </div>
                  </div>

       </div>
       </div>
         </div>

       <div class="card-deck">
      <div class="card">
        <div class="image-country-4">
            <%= image_tag("choose_country_praha.jpeg", :alt => "rss feed") %>
        </div>
        <div class="card-body">
          <div class="image-selected_choose_country_3">
              <%= image_tag("Group_2_2_2.png", :alt => "rss feed") %>
          </div>
            <div class="country-small-text-1">
            <%= link_to 'Чехия', (:country_page), class: "link_text"%>
            </div>

          <div class="card-text-parts">
            <div class="card-texts-1">
            <strong>Количество разрешенных въездов на момент въезда в Румынию не должно быть исчерпано, а сама виза должна...</strong>
            </div>
            <div class="button_choose_country">
              <%= link_to 'Выбрать', visa_application_path(Form.find(7), step: "1"), class: "btn button_choose_country_yo" %>
            </div>
      </div>
        </div>
  </div>
    </div>
</div>
